.pad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pad__label {
    margin-bottom: 0.2rem;
  }
  
  .drum-pad {
    color: #eee;
    border: none;
    position: relative;
    width: 65px;
    height: 60px;
    background: #0E3854;
    cursor: pointer;
    outline: none;
  }
  .drum-pad::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    height: 3px;
    top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255, 255, 255, 0.6);
  }
  .drum-pad:active,
  .drum-pad.active {
    top: 0.2em;
    background: #121110;
    color: #aaa;
  }
  .drum-pad:active::before,
  .drum-pad.active::before {
    background: rgba(255, 255, 255, 0.3);
  }