.controllers__volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ee6d2d;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .volume__label {
    margin-bottom: 8px;
  }
  
  .volume__slider::before {
    background: #1b1a18;
    box-shadow: 0px -3px 5px rgb(255 255 255 / 10%), 0px 20px 25px #111111,
      inset 0px 3px 4px rgb(255 255 255 / 20%),
      inset 0px -3px 6px rgb(0 0 0 / 95%);
  }
  
  .volume__slider::before,
  .slider__knob {
    width: 4em;
    height: 4em;
  }
  
  .slider__knob {
    position: relative;
    transform: rotate(50deg);
  }
  
  .slider__knob::before,
  .volume__slider::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider__knob::before {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #fff;
  }