.controllers__volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .volume__label {
    margin-bottom: 8px;
  }
  
  .volume__slider::before {
    background: #0E3854;
  }
  
  .volume__slider::before,
  .slider__knob {
    width: 4em;
    height: 4em;
  }
  
  .slider__knob {
    position: relative;
    transform: rotate(50deg);
  }
  
  .slider__knob::before,
  .volume__slider::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider__knob::before {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #fff;
  }