header {
  margin-top: 7rem;
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

#drum-machine {
  display: grid;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
}

.pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}

label {
  font-size: 0.9em;
  font-weight: 600;
}

.displays {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controllers {
  display: flex;
  flex-direction: column;
}